* {
  font-family: 'Oswald';
  margin: 0;
  
}


.container {
  border: 1px solid red;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

h1 {
  padding-bottom: 100px;
  font-size: 10rem;
}


form {
  border: 1px solid red;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.input {
  border-radius: 20px;
}

.input::placeholder {
  color: #d5d5d5;
}

.input:focus {
  outline-color: blue;
}

.todo-entry {
  list-style-type: none;
  padding: 0;
}

.todo-entry li {
  cursor: pointer;
}

.todo-entry li.completed {
  text-decoration: line-through;
}


